/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 
bo
            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */
*{
    box-sizing: border-box;
    padding-bottom: 1.5rem;
}
html {
    font-size: 16px
}
body {
    margin: 1.5rem, auto;
    width: 90%;
    min-width: 56.25rem;
}
@font-face {
    font-family: 'Roboto';
    src: url(/blog/fonts/sans-serif/roboto-regular.ttf) format(TrueType);
    font-weight:normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montsterrat';
    src: url(/blog/fonts/sans-serif/montserrat-regular.ttf) format(TrueType);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Josefinslab';
    src: url(/blog/fonts/serif/josefinslab-regular.ttf) format(TrueType);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rozhaone';
    src: url(/blog/fonts/serif/rozhaone-regular.ttf) format(TrueType);
    font-weight: normal;
    font-style: normal;
}
h1{
    h1 {
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        letter-spacing: .125rem;
        font-size: 3.75rem;
        margin: 1.125rem;
        text-align: center
}
.hightlight { 
    background-color: darkred;
    transform: rotate(-4deg);
    color: white;
    font-family: 'rozhaone', Georgia, 'Times New Roman', Times, serif;
    font-size: 
}
article-image {
    float: left;
}