/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 
bo
            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

@font-face {
    font-family: 'Roboto';
    src: url(/blog/fonts/sans-serif/roboto-regular.ttf) format(TrueType);
    font-weight:normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montsterrat';
    src: url(/blog/fonts/sans-serif/montserrat-regular.ttf) format(TrueType);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Josefinslab';
    src: url(/blog/fonts/serif/josefinslab-regular.ttf) format(TrueType);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rozhaone';
    src: url(/blog/fonts/serif/rozhaone-regular.ttf) format(TrueType);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Lato;
    src: url(/blog/fonts/sans-serif/lato-regular.ttf);
}

html,
body {
    font-size: 1rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin:0 auto;
    min-width: 56rem;
    width: 100%;
    height: 100%
} 
h1 {
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        letter-spacing: .125rem;
        font-size: 3.75rem;
        margin: 1.125rem;
        text-align: center;
        transform:rotate(-4deg)
}
h2,h3{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header{
    padding-top: 2.5rem;
    margin-bottom:2.25rem;
    padding-bottom:2rem;
}
.highlight { 
    background-color: darkred;
    color:floralwhite;
    font-family: 'rozhaone', Garamond, serif;
    font-size: 3.75rem;
    letter-spacing: .2rem;
    font-weight: bolder;
    box-shadow: darkgrey, .313rem .313rem, .313 rem;
    border-radius: .7rem;
    border-top-right-radius: .125rem;
    border-bottom-left-radius: .125rem;
    border-top-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    margin-bottom: .5rem;
    margin-top: .5rem;

    
}
nav {
    border-bottom: black solid;
    border-top: black solid;
    border-width: 100%;
    padding-bottom: .125rem;
    padding-top: .125rem;
    text-align: left;
    list-style-type: none;
    font-size: 1.25rem;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
   word-spacing: 4rem;
   margin-left: 2rem;
}
.line-through {
    transform: rotate(6deg);
}
.line-through a{
    text-decoration: line-through,black;
}

li{ 
    font-size: 120%;
    outline: none;
    color:cornflowerblue(136, 136, 241);
    font-weight: bold;
    text-decoration:none;
    display:inline-block
}
a:link, 
a:visited {
    text-decoration: none;
    color:navy;
}
nav a:hover{
    color: rgb(69, 230, 82);
    font-weight: bold;
    transform: rotate(6deg);
}
h2{
    padding-top: 1.5rem;
    padding-left: 2.25rem;
    font-size: larger;
a:active{
    
    text-decoration: line-through;

}
.main-section  {
    min-width: 22.5rem;
    float: left;
    display: flex;
    margin-left: .75rem;

}
figure img{
    width: 90%;
    height: auto;
    max-width: 19rem;
    max-height: 21.875rem;

}
article{
    min-width: 21rem
}
.article-image {
    float: left;
    width: auto;
    height: auto;
}
figure{ 
    margin: 0;
    padding:0
}
.sub-section {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-right: 1rem;
    padding-left: 0;
}
.sub-section img{
    width: 95%;
    height: auto;
    max-height: 350px;
    max-width: 305px;
    object-fit:cover ;
}
.button {
    font-family: 'rohazone', Garamond, serif;
    font-style: normal;
    font-size: medium;
    text-align: center;
    background-color: royalblue;
    border:none;
    padding:.67rem;
    border-radius: .5rem;
    width:125px;
    height: 50px
}
h3{
    font-size: .75rem;
}
aside{
    border-left: black,thin, solid;
    padding-left: 2rem;
    max-width: 25rem;
    
}

aside p{
    font-size: .75rem;
    padding-bottom: 1.5rem;
    border-bottom: solid,thin,black;
    margin-right: 4rem;
    padding-right: 2rem;
}
aside img{
    width: 30%;
    height: auto;
    margin-right: 0;
    padding-right: 0;
}
footer{
    clear:both;
    padding-bottom: 6rem;
    padding-top: 8rem;
    padding-left: 1.5rem;
}
footer p{
    float:right;
    text-align: right;
}
.copyright{
    float:left
}